<section class="perfiles-container">
<div class="avatar-perfil">
    <img src="/avatar/{{dataperfiles.avatar}}" />
</div>
<div class="datos-perfil">
    <div>{{dataperfiles.usuario}}</div>
    <span>{{dataperfiles.email}}</span>
</div>
</section>
