<div class="nuevotema">
  <form action="/registrarusuario" method="post">
    <div class="titulo-post">
      <input type="text" name="usuario" id="usuario" required>
    </div>
    <div class="titulo-post">
      <input type="text" name="email" id="email" required>
    </div>
    <div class="titulo-post">
      <input type="text" name="password" id="password" required>
    </div>
     <div class="titulo-post">
      <input type="text" name="avatar" id="avatar">
    </div>
    <div class="botoncrear"> <input type="submit" value="Crear">
  </form>
</div>